<% include ./partials/header%>

<% reminders.forEach(function(reminder) { %>
    <div style="margin-top: 5em;">
        <h2> <%= reminder.title %> </h2>
        <span> <%= reminder.created.toDateString() %> </span>  
        <p> <%= reminder.body.substring(0,100) %> </p>  
        <a href="/reminders/<%= reminder._id %>">Read More</a>
    </div>
<% }) %>

<% include ./partials/footer%>