<% include ./partials/header%>

<div class="ui text container segment">
    <div class="ui message">
        <div class="header">
            <%= reminder.title%>
        </div>
        <%= reminder.created.toDateString() %> 
        <div class="description">
            <p>We just updated our privacy policy here to better service our customers. We recommend reviewing the changes.</p>
        </div>
    </div>
</div>

<% include ./partials/footer%>