<% include ./partials/header%>

<div class="ui text container segment">
    <div class="ui message">
        <div class="header">
            <%= reminder.title%>
        </div>
        <%= reminder.created.toDateString() %> 
        <div class="description">
            <p> <%= reminder.body%> </p>
        </div>
    </div>
</div>

<% include ./partials/footer%>